body {
	margin: 0px;
}
#navBar {
	height: 60px;
	background-color: #000000;
	position: fixed;
	width: 100%
}
#navBar ul {
	list-style: none;
	display: inline;
	margin: 0px;
	padding: 0px;
}
.navBar-options {
	color: #ffffff;
	font-size: 16px;
	font-family: 'Century Gothic', Futura, Arial, sans serif;
	display: inline-block;
	width: 150px;
	text-align: center;
	cursor: pointer;
	line-height: 3.8em;
	vertical-align: top;
}
.navBar-options:hover {
	background-color: #4c4c4c
}
#brands-submenu {
	display: none;
}
#brands-submenu li {
	display: none;
	width: 150px;
	height: 50px;
	background-color: #4c4c4c;
	border-top: solid 1px #ffffff;
	line-height: 3.2em;
}
#brands-submenu li:hover {

}
#logo {
	float: left;
	width: 150px;

}
#logoImage {
	width: 150px;
}
.show {
	display: block !important;
}
#selected {
	background-color: #fcfa80 !important;
	color: #000000 !important;
}
#datePicker {
	display: none;
}
.imageSettings {
	background-color: #e1e1e1;
	padding: 5px 15px 5px 5px;
	border-bottom: solid 1px #000000;
}

.modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#ffffff;
  opacity: 0.8;
}
.modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: fixed;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.modal-dialog-content {
  padding:10px;
  text-align: left;
}
.modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}



