body {
	margin: 0px;
}
#navBar {
	height: 60px;
	background-color: #000000;
	position: fixed;
	width: 100%
}
#navBar ul {
	list-style: none;
	display: inline;
	margin: 0px;
	padding: 0px;
}
.navBar-options {
	color: #ffffff;
	font-size: 16px;
	font-family: 'Century Gothic', Futura, Arial, sans serif;
	display: inline-block;
	width: 150px;
	text-align: center;
	cursor: pointer;
	line-height: 3.8em;
	vertical-align: top;
}
.navBar-options:hover {
	background-color: #4c4c4c
}
#brands-submenu {
	display: none;
}
#brands-submenu li {
	display: none;
	width: 150px;
	height: 50px;
	background-color: #4c4c4c;
	border-top: solid 1px #ffffff;
	line-height: 3.2em;
}
#brands-submenu li:hover {

}
#logo {
	float: left;
	width: 150px;

}
#logoImage {
	width: 150px;
}
.show {
	display: block !important;
}
#selected {
	background-color: #fcfa80 !important;
	color: #000000 !important;
}
#datePicker {
	display: none;
}
.imageSettings {
	background-color: #e1e1e1;
	padding: 5px 15px 5px 5px;
	border-bottom: solid 1px #000000;
}





