<!DOCTYPE html>
<html ng-app="guessBuilderV2">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=4" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="autolink" content="no" />
		<link rel="stylesheet" href="/css/alt.css">
		<title>GUESS email builder v2</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
    <script src="/ng-file-upload/dist/ng-file-upload.min.js"></script>
	</head>
	<body>
		<div ng-controller="emailController as vm">
			<div id="navBar">
				<ul>
					<li class="navBar-options" ng-click="vm.showMenu()">
						Brands
						<ul id="brands-submenu">
							<li id="vm.selected" class={{vm.showBrands}} ng-click="vm.selectBrand($event)">Guess</li>
							<li id="vm.selected" class={{vm.showBrands}} ng-click="vm.selectBrand($event)">Guess Factory</li>
							<li id="vm.selected" class={{vm.showBrands}} ng-click="vm.selectBrand($event)">G by Guess</li>
							<li id="vm.selected" class={{vm.showBrands}} ng-click="vm.selectBrand($event)">Guess Kids</li>
							<li id="vm.selected" class={{vm.showBrands}} ng-click="vm.selectBrand($event)">Marciano</li>
						</ul>
					</li>
					<li class="navBar-options" ng-click="vm.showCalendar()">
						Date
						<div id="datePicker" ng-hide="vm.email.date" class={{vm.showDatePicker}} ng-model="date" jqdatepicker>
						</div>
					</li>
					<li id="logo">
						<img alt="logo" id="logoImage" src="http://content.guess.com/GuessUS/Guess/headersFooters/2017/guessLogo.png">
					</li>
				</ul>
			</div>
			<div style="position: absolute; margin-top: 10%">
			<strong>Brand:</strong> {{vm.email.brand}} <strong>Date:</strong> {{vm.email.date}}
			</div>
			<div style="position: absolute; margin-top: 15%" ng-show="(vm.email.date && vm.email.brand)">
				<div class="rowNumber">
					row #{{vm.rowsCounter}}
				</div>
				<div>
					<label for="numImages">number of images in this row:</label>
					<input type="number" id="numImages" ng-model="vm.imageCounter" ng-change="vm.createImages()" value="1">
				</div>
				<div class="imageSettings" ng-repeat="image in vm.images">
					<label for={{image.alt}}>alt</label>
					<input type="text" id={{image.alt}} name={{image.alt}} ng-model="vm.images[image.imageNumber].alt" >
					<label for={{image.href}}>href</label>
					<input type="text" id={{image.href}} name={{image.href}} ng-model="vm.images[image.imageNumber].href">
					<label for={{image.src}}>src</label>
					<input type="text" id={{image.src}} name={{image.src}} ng-model="vm.images[image.imageNumber].src">
					<button href={{image.ref}} class="btn btn-success" data-toggle="modal">Get src url</button>
					<button class="btn btn-success" id={{image.src}} ng-model="vm.imageToUpload" ngf-select="upload(vm.imageToUpload, $event)" ngf-no-object-url="true" ngf-pattern="'image/*'" ngf-accept="'image/*'">New img</button>
					<modal-directive handler=vm.images[image.imageNumber].imageNumber modal-header="header" data-ng-click-get-url="getUrl()">
					</modal-directive>
				</div>
				<div id="newRow" ng-click="vm.addNewRow()">
					<button>New Row</button>
				</div>
			</div>
		</div>
		<script src="./js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/directives/calendarPickerDirective.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/myModal/myModalDirective.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/services/ftpService.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/controllers/emailController.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
